<div class="banner">
  <div class="banner-content">
    <h1>Personalized Cocktails</h1>
    <p>Enjoy your favorite drinks</p>
    <a href="#cocktail-list" class="btn btn-primary btn-lg">Cocktail List</a>
  </div>
</div>
<div id="cocktail-list" class="cocktail-list-head text-center">
        <h2>Cocktails</h2>
</div>

<div class="container">
  <div class="row">
      <div class="col-xs-12 col-sm-4">
        <div style="margin: 20px">
          <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url();">
          <div class="card-category">Popular</div>
          <div class="card-description">
            <h2>Mojito</h2>
          </div>
          <a class="card-link" href="#" ></a>
        </div>
        </div>

      </div>

      <div class="col-xs-12 col-sm-4">
        <div style="margin: 20px">
          <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url();">
          <div class="card-category">Popular</div>
          <div class="card-description">
            <h2>Mojito</h2>
          </div>
          <a class="card-link" href="#" ></a>
        </div>
        </div>

      </div>

      <div class="col-xs-12 col-sm-4">
        <div style="margin: 20px">
          <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url();">
          <div class="card-category">Popular</div>
          <div class="card-description">
            <h2>Mojito</h2>
          </div>
          <a class="card-link" href="#" ></a>
        </div>
        </div>

      </div>
      <div class="col-xs-12 col-sm-4">
        <div style="margin: 20px">
          <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url();">
          <div class="card-category">Popular</div>
          <div class="card-description">
            <h2>Mojito</h2>
          </div>
          <a class="card-link" href="#" ></a>
        </div>
        </div>

      </div>
      <div class="col-xs-12 col-sm-4">
        <div style="margin: 20px">
          <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url();">
          <div class="card-category">Popular</div>
          <div class="card-description">
            <h2>Mojito</h2>
          </div>
          <a class="card-link" href="#" ></a>
        </div>
        </div>

      </div>
    </div>
  </div>
