<div class="banner">
  <div class="banner-content">
    <h1>All the Cocktails</h1>
    <p>Drink with us</p>
    <a class="btn btn-primary btn-lg">Start now</a>
  </div>
</div>

<h1>Cocktails</h1>
<% @cocktails.each do |cocktail| %>
  <h3><%= link_to cocktail.name, cocktail_path(cocktail) %></h3>
<% end %>

<h2><%= link_to "See Cocktails", cocktails_path %></h2>
<h2><%= link_to "Add a Cocktail", new_cocktail_path %></h2>
